.slide-controls {
    margin-top: 1rem;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    &._visible {
       display: flex;
    }
}

.slide-controls__toggle {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    background: var(--cl-base-50);
    color: var(--cl-base-950);
    padding: 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    cursor: pointer;

    &:hover {
        color: var(--cl-primary-800);
    }
}

.slide-controls__toggle-text {
    display: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-top: 16px;
    margin-bottom: 8px;
    line-height: 20px;

    .slide-controls__toggle:hover & {
        display: block;
    }
}

.slide-controls__left {
    display: flex;
    gap: 0.5rem;
}

.slide-controls__button {
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    background-color: var(--cl-base-200);
    transition: background-color 0.2s;
}

.slide-controls__button:hover:enabled {
    background-color: var(--cl-base-300);
}

.slide-controls__button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.slide-controls__link {
    cursor: pointer;
    font-size: 0.875rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: var(--cl-base-200);
    transition: background-color 0.2s;
}

.slide-controls__link:hover {
    background-color: var(--cl-base-300);
}

.slide-controls__text {
    font-size: 0.875rem;
    color: var(--cl-base-700);
}

.slide-controls__right {
    display: flex;
    gap: 1rem;
    min-width: 14rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.slide-controls__host-link {
    display: none;
    padding: 0.5rem 0;
    font-size: 0.875rem;
    color: var(--cl-base-500);
    transition: color 0.2s;

    .sb-default-server &,
    &.slide-controls__host-link--visible {
        display: block;
    }
}

.slide-controls__sync-label {
    display: none;

    .sb-default-server &,
    &.slide-controls__sync-label--visible {
        display: block;
    }
}

.slide-controls__host-link:hover {
    color: var(--cl-base-700);
}

.slide-controls__sync {
    display: none;
}

.slide-controls__sync-button {
    display: block;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: var(--cl-base-200);
    transition: background-color 0.2s;
}

.slide-controls__sync-button:hover {
    background-color: var(--cl-base-300);
}

.slide-controls__sync:checked+.slide-controls__sync-button {
    background-color: var(--cl-primary-500);
    color: var(--cl-base-50);
}

.slide-controls__sync:checked+.slide-controls__sync-button:hover {
    background-color: var(--cl-primary-600);
}