@import "tailwindcss";
@import "tw-animate-css";
@import "@slidebook/core/lib/styles.css";

@custom-variant hover (&:hover);

:root {
  --cl-slate-50: oklch(0.984 0.003 247.858);
  --cl-slate-100: oklch(0.968 0.007 247.896);
  --cl-slate-200: oklch(0.929 0.013 255.508);
  --cl-slate-300: oklch(0.869 0.022 252.894);
  --cl-slate-400: oklch(0.704 0.04 256.788);
  --cl-slate-500: oklch(0.554 0.046 257.417);
  --cl-slate-600: oklch(0.446 0.043 257.281);
  --cl-slate-700: oklch(0.372 0.044 257.287);
  --cl-slate-800: oklch(0.279 0.041 260.031);
  --cl-slate-900: oklch(0.208 0.042 265.755);
  --cl-slate-950: oklch(0.129 0.042 264.695);
  --cl-blue-50: oklch(0.97 0.014 254.604);
  --cl-blue-100: oklch(0.932 0.032 255.585);
  --cl-blue-200: oklch(0.882 0.059 254.128);
  --cl-blue-300: oklch(0.809 0.105 251.813);
  --cl-blue-400: oklch(0.707 0.165 254.624);
  --cl-blue-500: oklch(0.623 0.214 259.815);
  --cl-blue-600: oklch(0.546 0.245 262.881);
  --cl-blue-700: oklch(0.488 0.243 264.376);
  --cl-blue-800: oklch(0.424 0.199 265.638);
  --cl-blue-900: oklch(0.379 0.146 265.522);
  --cl-blue-950: oklch(0.282 0.091 267.935);
  --cl-red-50: oklch(0.971 0.013 17.38);
  --cl-red-100: oklch(0.936 0.032 17.717);
  --cl-red-200: oklch(0.885 0.062 18.334);
  --cl-red-300: oklch(0.808 0.114 19.571);
  --cl-red-400: oklch(0.704 0.191 22.216);
  --cl-red-500: oklch(0.637 0.237 25.331);
  --cl-red-600: oklch(0.577 0.245 27.325);
  --cl-red-700: oklch(0.505 0.213 27.518);
  --cl-red-800: oklch(0.444 0.177 26.899);
  --cl-red-900: oklch(0.396 0.141 25.723);
  --cl-red-950: oklch(0.258 0.092 26.042);
  --cl-orange-50: oklch(0.98 0.016 73.684);
  --cl-orange-100: oklch(0.954 0.038 75.164);
  --cl-orange-200: oklch(0.901 0.076 70.697);
  --cl-orange-300: oklch(0.837 0.128 66.29);
  --cl-orange-400: oklch(0.75 0.183 55.934);
  --cl-orange-500: oklch(0.705 0.213 47.604);
  --cl-orange-600: oklch(0.646 0.222 41.116);
  --cl-orange-700: oklch(0.553 0.195 38.402);
  --cl-orange-800: oklch(0.47 0.157 37.304);
  --cl-orange-900: oklch(0.408 0.123 38.172);
  --cl-orange-950: oklch(0.266 0.079 36.259);
  --cl-amber-50: oklch(0.987 0.022 95.277);
  --cl-amber-100: oklch(0.962 0.059 95.617);
  --cl-amber-200: oklch(0.924 0.12 95.746);
  --cl-amber-300: oklch(0.879 0.169 91.605);
  --cl-amber-400: oklch(0.828 0.189 84.429);
  --cl-amber-500: oklch(0.769 0.188 70.08);
  --cl-amber-600: oklch(0.666 0.179 58.318);
  --cl-amber-700: oklch(0.555 0.163 48.998);
  --cl-amber-800: oklch(0.473 0.137 46.201);
  --cl-amber-900: oklch(0.414 0.112 45.904);
  --cl-amber-950: oklch(0.279 0.077 45.635);
  --cl-yellow-50: oklch(0.987 0.026 102.212);
  --cl-yellow-100: oklch(0.973 0.071 103.193);
  --cl-yellow-200: oklch(0.945 0.129 101.54);
  --cl-yellow-300: oklch(0.905 0.182 98.111);
  --cl-yellow-400: oklch(0.852 0.199 91.936);
  --cl-yellow-500: oklch(0.795 0.184 86.047);
  --cl-yellow-600: oklch(0.681 0.162 75.834);
  --cl-yellow-700: oklch(0.554 0.135 66.442);
  --cl-yellow-800: oklch(0.476 0.114 61.907);
  --cl-yellow-900: oklch(0.421 0.095 57.708);
  --cl-yellow-950: oklch(0.286 0.066 53.813);
  --cl-lime-50: oklch(0.986 0.031 120.757);
  --cl-lime-100: oklch(0.967 0.067 122.328);
  --cl-lime-200: oklch(0.938 0.127 124.321);
  --cl-lime-300: oklch(0.897 0.196 126.665);
  --cl-lime-400: oklch(0.841 0.238 128.85);
  --cl-lime-500: oklch(0.768 0.233 130.85);
  --cl-lime-600: oklch(0.648 0.2 131.684);
  --cl-lime-700: oklch(0.532 0.157 131.589);
  --cl-lime-800: oklch(0.453 0.124 130.933);
  --cl-lime-900: oklch(0.405 0.101 131.063);
  --cl-lime-950: oklch(0.274 0.072 132.109);
  --cl-green-50: oklch(0.982 0.018 155.826);
  --cl-green-100: oklch(0.962 0.044 156.743);
  --cl-green-200: oklch(0.925 0.084 155.995);
  --cl-green-300: oklch(0.871 0.15 154.449);
  --cl-green-400: oklch(0.792 0.209 151.711);
  --cl-green-500: oklch(0.723 0.219 149.579);
  --cl-green-600: oklch(0.627 0.194 149.214);
  --cl-green-700: oklch(0.527 0.154 150.069);
  --cl-green-800: oklch(0.448 0.119 151.328);
  --cl-green-900: oklch(0.393 0.095 152.535);
  --cl-green-950: oklch(0.266 0.065 152.934);
  --cl-emerald-50: oklch(0.979 0.021 166.113);
  --cl-emerald-100: oklch(0.95 0.052 163.051);
  --cl-emerald-200: oklch(0.905 0.093 164.15);
  --cl-emerald-300: oklch(0.845 0.143 164.978);
  --cl-emerald-400: oklch(0.765 0.177 163.223);
  --cl-emerald-500: oklch(0.696 0.17 162.48);
  --cl-emerald-600: oklch(0.596 0.145 163.225);
  --cl-emerald-700: oklch(0.508 0.118 165.612);
  --cl-emerald-800: oklch(0.432 0.095 166.913);
  --cl-emerald-900: oklch(0.378 0.077 168.94);
  --cl-emerald-950: oklch(0.262 0.051 172.552);
  --cl-teal-50: oklch(0.984 0.014 180.72);
  --cl-teal-100: oklch(0.953 0.051 180.801);
  --cl-teal-200: oklch(0.91 0.096 180.426);
  --cl-teal-300: oklch(0.855 0.138 181.071);
  --cl-teal-400: oklch(0.777 0.152 181.912);
  --cl-teal-500: oklch(0.704 0.14 182.503);
  --cl-teal-600: oklch(0.6 0.118 184.704);
  --cl-teal-700: oklch(0.511 0.096 186.391);
  --cl-teal-800: oklch(0.437 0.078 188.216);
  --cl-teal-900: oklch(0.386 0.063 188.416);
  --cl-teal-950: oklch(0.277 0.046 192.524);
  --cl-cyan-50: oklch(0.984 0.019 200.873);
  --cl-cyan-100: oklch(0.956 0.045 203.388);
  --cl-cyan-200: oklch(0.917 0.08 205.041);
  --cl-cyan-300: oklch(0.865 0.127 207.078);
  --cl-cyan-400: oklch(0.789 0.154 211.53);
  --cl-cyan-500: oklch(0.715 0.143 215.221);
  --cl-cyan-600: oklch(0.609 0.126 221.723);
  --cl-cyan-700: oklch(0.52 0.105 223.128);
  --cl-cyan-800: oklch(0.45 0.085 224.283);
  --cl-cyan-900: oklch(0.398 0.07 227.392);
  --cl-cyan-950: oklch(0.302 0.056 229.695);
  --cl-sky-50: oklch(0.977 0.013 236.62);
  --cl-sky-100: oklch(0.951 0.026 236.824);
  --cl-sky-200: oklch(0.901 0.058 230.902);
  --cl-sky-300: oklch(0.828 0.111 230.318);
  --cl-sky-400: oklch(0.746 0.16 232.661);
  --cl-sky-500: oklch(0.685 0.169 237.323);
  --cl-sky-600: oklch(0.588 0.158 241.966);
  --cl-sky-700: oklch(0.5 0.134 242.749);
  --cl-sky-800: oklch(0.443 0.11 240.79);
  --cl-sky-900: oklch(0.391 0.09 240.876);
  --cl-sky-950: oklch(0.293 0.066 243.157);
  --cl-indigo-50: oklch(0.962 0.018 272.314);
  --cl-indigo-100: oklch(0.93 0.034 272.788);
  --cl-indigo-200: oklch(0.87 0.065 274.039);
  --cl-indigo-300: oklch(0.785 0.115 274.713);
  --cl-indigo-400: oklch(0.673 0.182 276.935);
  --cl-indigo-500: oklch(0.585 0.233 277.117);
  --cl-indigo-600: oklch(0.511 0.262 276.966);
  --cl-indigo-700: oklch(0.457 0.24 277.023);
  --cl-indigo-800: oklch(0.398 0.195 277.366);
  --cl-indigo-900: oklch(0.359 0.144 278.697);
  --cl-indigo-950: oklch(0.257 0.09 281.288);
  --cl-violet-50: oklch(0.969 0.016 293.756);
  --cl-violet-100: oklch(0.943 0.029 294.588);
  --cl-violet-200: oklch(0.894 0.057 293.283);
  --cl-violet-300: oklch(0.811 0.111 293.571);
  --cl-violet-400: oklch(0.702 0.183 293.541);
  --cl-violet-500: oklch(0.606 0.25 292.717);
  --cl-violet-600: oklch(0.541 0.281 293.009);
  --cl-violet-700: oklch(0.491 0.27 292.581);
  --cl-violet-800: oklch(0.432 0.232 292.759);
  --cl-violet-900: oklch(0.38 0.189 293.745);
  --cl-violet-950: oklch(0.283 0.141 291.089);
  --cl-purple-50: oklch(0.977 0.014 308.299);
  --cl-purple-100: oklch(0.946 0.033 307.174);
  --cl-purple-200: oklch(0.902 0.063 306.703);
  --cl-purple-300: oklch(0.827 0.119 306.383);
  --cl-purple-400: oklch(0.714 0.203 305.504);
  --cl-purple-500: oklch(0.627 0.265 303.9);
  --cl-purple-600: oklch(0.558 0.288 302.321);
  --cl-purple-700: oklch(0.496 0.265 301.924);
  --cl-purple-800: oklch(0.438 0.218 303.724);
  --cl-purple-900: oklch(0.381 0.176 304.987);
  --cl-purple-950: oklch(0.291 0.149 302.717);
  --cl-fuchsia-50: oklch(0.977 0.017 320.058);
  --cl-fuchsia-100: oklch(0.952 0.037 318.852);
  --cl-fuchsia-200: oklch(0.903 0.076 319.62);
  --cl-fuchsia-300: oklch(0.833 0.145 321.434);
  --cl-fuchsia-400: oklch(0.74 0.238 322.16);
  --cl-fuchsia-500: oklch(0.667 0.295 322.15);
  --cl-fuchsia-600: oklch(0.591 0.293 322.896);
  --cl-fuchsia-700: oklch(0.518 0.253 323.949);
  --cl-fuchsia-800: oklch(0.452 0.211 324.591);
  --cl-fuchsia-900: oklch(0.401 0.17 325.612);
  --cl-fuchsia-950: oklch(0.293 0.136 325.661);
  --cl-pink-50: oklch(0.971 0.014 343.198);
  --cl-pink-100: oklch(0.948 0.028 342.258);
  --cl-pink-200: oklch(0.899 0.061 343.231);
  --cl-pink-300: oklch(0.823 0.12 346.018);
  --cl-pink-400: oklch(0.718 0.202 349.761);
  --cl-pink-500: oklch(0.656 0.241 354.308);
  --cl-pink-600: oklch(0.592 0.249 0.584);
  --cl-pink-700: oklch(0.525 0.223 3.958);
  --cl-pink-800: oklch(0.459 0.187 3.815);
  --cl-pink-900: oklch(0.408 0.153 2.432);
  --cl-pink-950: oklch(0.284 0.109 3.907);
  --cl-rose-50: oklch(0.969 0.015 12.422);
  --cl-rose-100: oklch(0.941 0.03 12.58);
  --cl-rose-200: oklch(0.892 0.058 10.001);
  --cl-rose-300: oklch(0.81 0.117 11.638);
  --cl-rose-400: oklch(0.712 0.194 13.428);
  --cl-rose-500: oklch(0.645 0.246 16.439);
  --cl-rose-600: oklch(0.586 0.253 17.585);
  --cl-rose-700: oklch(0.514 0.222 16.935);
  --cl-rose-800: oklch(0.455 0.188 13.697);
  --cl-rose-900: oklch(0.41 0.159 10.272);
  --cl-rose-950: oklch(0.271 0.105 12.094);
  --cl-gray-50: oklch(0.985 0.002 247.839);
  --cl-gray-100: oklch(0.967 0.003 264.542);
  --cl-gray-200: oklch(0.928 0.006 264.531);
  --cl-gray-300: oklch(0.872 0.01 258.338);
  --cl-gray-400: oklch(0.707 0.022 261.325);
  --cl-gray-500: oklch(0.551 0.027 264.364);
  --cl-gray-600: oklch(0.446 0.03 256.802);
  --cl-gray-700: oklch(0.373 0.034 259.733);
  --cl-gray-800: oklch(0.278 0.033 256.848);
  --cl-gray-900: oklch(0.21 0.034 264.665);
  --cl-gray-950: oklch(0.13 0.028 261.692);
  --cl-zinc-50: oklch(0.985 0 0);
  --cl-zinc-100: oklch(0.967 0.001 286.375);
  --cl-zinc-200: oklch(0.92 0.004 286.32);
  --cl-zinc-300: oklch(0.871 0.006 286.286);
  --cl-zinc-400: oklch(0.705 0.015 286.067);
  --cl-zinc-500: oklch(0.552 0.016 285.938);
  --cl-zinc-600: oklch(0.442 0.017 285.786);
  --cl-zinc-700: oklch(0.37 0.013 285.805);
  --cl-zinc-800: oklch(0.274 0.006 286.033);
  --cl-zinc-900: oklch(0.21 0.006 285.885);
  --cl-zinc-950: oklch(0.141 0.005 285.823);
  --cl-neutral-50: oklch(0.985 0 0);
  --cl-neutral-100: oklch(0.97 0 0);
  --cl-neutral-200: oklch(0.922 0 0);
  --cl-neutral-300: oklch(0.87 0 0);
  --cl-neutral-400: oklch(0.708 0 0);
  --cl-neutral-500: oklch(0.556 0 0);
  --cl-neutral-600: oklch(0.439 0 0);
  --cl-neutral-700: oklch(0.371 0 0);
  --cl-neutral-800: oklch(0.269 0 0);
  --cl-neutral-900: oklch(0.205 0 0);
  --cl-neutral-950: oklch(0.145 0 0);
  --cl-stone-50: oklch(0.985 0.001 106.423);
  --cl-stone-100: oklch(0.97 0.001 106.424);
  --cl-stone-200: oklch(0.923 0.003 48.717);
  --cl-stone-300: oklch(0.869 0.005 56.366);
  --cl-stone-400: oklch(0.709 0.01 56.259);
  --cl-stone-500: oklch(0.553 0.013 58.071);
  --cl-stone-600: oklch(0.444 0.011 73.639);
  --cl-stone-700: oklch(0.374 0.01 67.558);
  --cl-stone-800: oklch(0.268 0.007 34.298);
  --cl-stone-900: oklch(0.216 0.006 56.043);
  --cl-stone-950: oklch(0.147 0.004 49.25);
  --cl-black: #000;
  --cl-white: #fff;
}

[data-theme="dark"], .theme-dark {
  --cl-slate-50: oklch(0.129 0.042 264.695);
  --cl-slate-100: oklch(0.208 0.042 265.755);
  --cl-slate-200: oklch(0.279 0.041 260.031);
  --cl-slate-300: oklch(0.372 0.044 257.287);
  --cl-slate-400: oklch(0.446 0.043 257.281);
  --cl-slate-500: oklch(0.554 0.046 257.417);
  --cl-slate-600: oklch(0.704 0.04 256.788);
  --cl-slate-700: oklch(0.869 0.022 252.894);
  --cl-slate-800: oklch(0.929 0.013 255.508);
  --cl-slate-900: oklch(0.968 0.007 247.896);
  --cl-slate-950: oklch(0.984 0.003 247.858);
  --cl-blue-50: oklch(0.282 0.091 267.935);
  --cl-blue-100: oklch(0.379 0.146 265.522);
  --cl-blue-200: oklch(0.424 0.199 265.638);
  --cl-blue-300: oklch(0.488 0.243 264.376);
  --cl-blue-400: oklch(0.546 0.245 262.881);
  --cl-blue-500: oklch(0.623 0.214 259.815);
  --cl-blue-600: oklch(0.707 0.165 254.624);
  --cl-blue-700: oklch(0.809 0.105 251.813);
  --cl-blue-800: oklch(0.882 0.059 254.128);
  --cl-blue-900: oklch(0.932 0.032 255.585);
  --cl-blue-950: oklch(0.97 0.014 254.604);
  --cl-red-50: oklch(0.258 0.092 26.042);
  --cl-red-100: oklch(0.396 0.141 25.723);
  --cl-red-200: oklch(0.444 0.177 26.899);
  --cl-red-300: oklch(0.505 0.213 27.518);
  --cl-red-400: oklch(0.577 0.245 27.325);
  --cl-red-500: oklch(0.637 0.237 25.331);
  --cl-red-600: oklch(0.704 0.191 22.216);
  --cl-red-700: oklch(0.808 0.114 19.571);
  --cl-red-800: oklch(0.885 0.062 18.334);
  --cl-red-900: oklch(0.936 0.032 17.717);
  --cl-red-950: oklch(0.971 0.013 17.38);
  --cl-orange-50: oklch(0.266 0.079 36.259);
  --cl-orange-100: oklch(0.408 0.123 38.172);
  --cl-orange-200: oklch(0.47 0.157 37.304);
  --cl-orange-300: oklch(0.553 0.195 38.402);
  --cl-orange-400: oklch(0.646 0.222 41.116);
  --cl-orange-500: oklch(0.705 0.213 47.604);
  --cl-orange-600: oklch(0.75 0.183 55.934);
  --cl-orange-700: oklch(0.837 0.128 66.29);
  --cl-orange-800: oklch(0.901 0.076 70.697);
  --cl-orange-900: oklch(0.954 0.038 75.164);
  --cl-orange-950: oklch(0.98 0.016 73.684);
  --cl-amber-50: oklch(0.279 0.077 45.635);
  --cl-amber-100: oklch(0.414 0.112 45.904);
  --cl-amber-200: oklch(0.473 0.137 46.201);
  --cl-amber-300: oklch(0.555 0.163 48.998);
  --cl-amber-400: oklch(0.666 0.179 58.318);
  --cl-amber-500: oklch(0.769 0.188 70.08);
  --cl-amber-600: oklch(0.828 0.189 84.429);
  --cl-amber-700: oklch(0.879 0.169 91.605);
  --cl-amber-800: oklch(0.924 0.12 95.746);
  --cl-amber-900: oklch(0.962 0.059 95.617);
  --cl-amber-950: oklch(0.987 0.022 95.277);
  --cl-yellow-50: oklch(0.286 0.066 53.813);
  --cl-yellow-100: oklch(0.421 0.095 57.708);
  --cl-yellow-200: oklch(0.476 0.114 61.907);
  --cl-yellow-300: oklch(0.554 0.135 66.442);
  --cl-yellow-400: oklch(0.681 0.162 75.834);
  --cl-yellow-500: oklch(0.795 0.184 86.047);
  --cl-yellow-600: oklch(0.852 0.199 91.936);
  --cl-yellow-700: oklch(0.905 0.182 98.111);
  --cl-yellow-800: oklch(0.945 0.129 101.54);
  --cl-yellow-900: oklch(0.973 0.071 103.193);
  --cl-yellow-950: oklch(0.987 0.026 102.212);
  --cl-lime-50: oklch(0.274 0.072 132.109);
  --cl-lime-100: oklch(0.405 0.101 131.063);
  --cl-lime-200: oklch(0.453 0.124 130.933);
  --cl-lime-300: oklch(0.532 0.157 131.589);
  --cl-lime-400: oklch(0.648 0.2 131.684);
  --cl-lime-500: oklch(0.768 0.233 130.85);
  --cl-lime-600: oklch(0.841 0.238 128.85);
  --cl-lime-700: oklch(0.897 0.196 126.665);
  --cl-lime-800: oklch(0.938 0.127 124.321);
  --cl-lime-900: oklch(0.967 0.067 122.328);
  --cl-lime-950: oklch(0.986 0.031 120.757);
  --cl-green-50: oklch(0.266 0.065 152.934);
  --cl-green-100: oklch(0.393 0.095 152.535);
  --cl-green-200: oklch(0.448 0.119 151.328);
  --cl-green-300: oklch(0.527 0.154 150.069);
  --cl-green-400: oklch(0.627 0.194 149.214);
  --cl-green-500: oklch(0.723 0.219 149.579);
  --cl-green-600: oklch(0.792 0.209 151.711);
  --cl-green-700: oklch(0.871 0.15 154.449);
  --cl-green-800: oklch(0.925 0.084 155.995);
  --cl-green-900: oklch(0.962 0.044 156.743);
  --cl-green-950: oklch(0.982 0.018 155.826);
  --cl-emerald-50: oklch(0.262 0.051 172.552);
  --cl-emerald-100: oklch(0.378 0.077 168.94);
  --cl-emerald-200: oklch(0.432 0.095 166.913);
  --cl-emerald-300: oklch(0.508 0.118 165.612);
  --cl-emerald-400: oklch(0.596 0.145 163.225);
  --cl-emerald-500: oklch(0.696 0.17 162.48);
  --cl-emerald-600: oklch(0.765 0.177 163.223);
  --cl-emerald-700: oklch(0.845 0.143 164.978);
  --cl-emerald-800: oklch(0.905 0.093 164.15);
  --cl-emerald-900: oklch(0.95 0.052 163.051);
  --cl-emerald-950: oklch(0.979 0.021 166.113);
  --cl-teal-50: oklch(0.277 0.046 192.524);
  --cl-teal-100: oklch(0.386 0.063 188.416);
  --cl-teal-200: oklch(0.437 0.078 188.216);
  --cl-teal-300: oklch(0.511 0.096 186.391);
  --cl-teal-400: oklch(0.6 0.118 184.704);
  --cl-teal-500: oklch(0.704 0.14 182.503);
  --cl-teal-600: oklch(0.777 0.152 181.912);
  --cl-teal-700: oklch(0.855 0.138 181.071);
  --cl-teal-800: oklch(0.91 0.096 180.426);
  --cl-teal-900: oklch(0.953 0.051 180.801);
  --cl-teal-950: oklch(0.984 0.014 180.72);
  --cl-cyan-50: oklch(0.302 0.056 229.695);
  --cl-cyan-100: oklch(0.398 0.07 227.392);
  --cl-cyan-200: oklch(0.45 0.085 224.283);
  --cl-cyan-300: oklch(0.52 0.105 223.128);
  --cl-cyan-400: oklch(0.609 0.126 221.723);
  --cl-cyan-500: oklch(0.715 0.143 215.221);
  --cl-cyan-600: oklch(0.789 0.154 211.53);
  --cl-cyan-700: oklch(0.865 0.127 207.078);
  --cl-cyan-800: oklch(0.917 0.08 205.041);
  --cl-cyan-900: oklch(0.956 0.045 203.388);
  --cl-cyan-950: oklch(0.984 0.019 200.873);
  --cl-sky-50: oklch(0.293 0.066 243.157);
  --cl-sky-100: oklch(0.391 0.09 240.876);
  --cl-sky-200: oklch(0.443 0.11 240.79);
  --cl-sky-300: oklch(0.5 0.134 242.749);
  --cl-sky-400: oklch(0.588 0.158 241.966);
  --cl-sky-500: oklch(0.685 0.169 237.323);
  --cl-sky-600: oklch(0.746 0.16 232.661);
  --cl-sky-700: oklch(0.828 0.111 230.318);
  --cl-sky-800: oklch(0.901 0.058 230.902);
  --cl-sky-900: oklch(0.951 0.026 236.824);
  --cl-sky-950: oklch(0.977 0.013 236.62);
  --cl-indigo-50: oklch(0.257 0.09 281.288);
  --cl-indigo-100: oklch(0.359 0.144 278.697);
  --cl-indigo-200: oklch(0.398 0.195 277.366);
  --cl-indigo-300: oklch(0.457 0.24 277.023);
  --cl-indigo-400: oklch(0.511 0.262 276.966);
  --cl-indigo-500: oklch(0.585 0.233 277.117);
  --cl-indigo-600: oklch(0.673 0.182 276.935);
  --cl-indigo-700: oklch(0.785 0.115 274.713);
  --cl-indigo-800: oklch(0.87 0.065 274.039);
  --cl-indigo-900: oklch(0.93 0.034 272.788);
  --cl-indigo-950: oklch(0.962 0.018 272.314);
  --cl-violet-50: oklch(0.283 0.141 291.089);
  --cl-violet-100: oklch(0.38 0.189 293.745);
  --cl-violet-200: oklch(0.432 0.232 292.759);
  --cl-violet-300: oklch(0.491 0.27 292.581);
  --cl-violet-400: oklch(0.541 0.281 293.009);
  --cl-violet-500: oklch(0.606 0.25 292.717);
  --cl-violet-600: oklch(0.702 0.183 293.541);
  --cl-violet-700: oklch(0.811 0.111 293.571);
  --cl-violet-800: oklch(0.894 0.057 293.283);
  --cl-violet-900: oklch(0.943 0.029 294.588);
  --cl-violet-950: oklch(0.969 0.016 293.756);
  --cl-purple-50: oklch(0.291 0.149 302.717);
  --cl-purple-100: oklch(0.381 0.176 304.987);
  --cl-purple-200: oklch(0.438 0.218 303.724);
  --cl-purple-300: oklch(0.496 0.265 301.924);
  --cl-purple-400: oklch(0.558 0.288 302.321);
  --cl-purple-500: oklch(0.627 0.265 303.9);
  --cl-purple-600: oklch(0.714 0.203 305.504);
  --cl-purple-700: oklch(0.827 0.119 306.383);
  --cl-purple-800: oklch(0.902 0.063 306.703);
  --cl-purple-900: oklch(0.946 0.033 307.174);
  --cl-purple-950: oklch(0.977 0.014 308.299);
  --cl-fuchsia-50: oklch(0.293 0.136 325.661);
  --cl-fuchsia-100: oklch(0.401 0.17 325.612);
  --cl-fuchsia-200: oklch(0.452 0.211 324.591);
  --cl-fuchsia-300: oklch(0.518 0.253 323.949);
  --cl-fuchsia-400: oklch(0.591 0.293 322.896);
  --cl-fuchsia-500: oklch(0.667 0.295 322.15);
  --cl-fuchsia-600: oklch(0.74 0.238 322.16);
  --cl-fuchsia-700: oklch(0.833 0.145 321.434);
  --cl-fuchsia-800: oklch(0.903 0.076 319.62);
  --cl-fuchsia-900: oklch(0.952 0.037 318.852);
  --cl-fuchsia-950: oklch(0.977 0.017 320.058);
  --cl-pink-50: oklch(0.284 0.109 3.907);
  --cl-pink-100: oklch(0.408 0.153 2.432);
  --cl-pink-200: oklch(0.459 0.187 3.815);
  --cl-pink-300: oklch(0.525 0.223 3.958);
  --cl-pink-400: oklch(0.592 0.249 0.584);
  --cl-pink-500: oklch(0.656 0.241 354.308);
  --cl-pink-600: oklch(0.718 0.202 349.761);
  --cl-pink-700: oklch(0.823 0.12 346.018);
  --cl-pink-800: oklch(0.899 0.061 343.231);
  --cl-pink-900: oklch(0.948 0.028 342.258);
  --cl-pink-950: oklch(0.971 0.014 343.198);
  --cl-rose-50: oklch(0.271 0.105 12.094);
  --cl-rose-100: oklch(0.41 0.159 10.272);
  --cl-rose-200: oklch(0.455 0.188 13.697);
  --cl-rose-300: oklch(0.514 0.222 16.935);
  --cl-rose-400: oklch(0.586 0.253 17.585);
  --cl-rose-500: oklch(0.645 0.246 16.439);
  --cl-rose-600: oklch(0.712 0.194 13.428);
  --cl-rose-700: oklch(0.81 0.117 11.638);
  --cl-rose-800: oklch(0.892 0.058 10.001);
  --cl-rose-900: oklch(0.941 0.03 12.58);
  --cl-rose-950: oklch(0.969 0.015 12.422);
  --cl-gray-50: oklch(0.13 0.028 261.692);
  --cl-gray-100: oklch(0.21 0.034 264.665);
  --cl-gray-200: oklch(0.278 0.033 256.848);
  --cl-gray-300: oklch(0.373 0.034 259.733);
  --cl-gray-400: oklch(0.446 0.03 256.802);
  --cl-gray-500: oklch(0.551 0.027 264.364);
  --cl-gray-600: oklch(0.707 0.022 261.325);
  --cl-gray-700: oklch(0.872 0.01 258.338);
  --cl-gray-800: oklch(0.928 0.006 264.531);
  --cl-gray-900: oklch(0.967 0.003 264.542);
  --cl-gray-950: oklch(0.985 0.002 247.839);
  --cl-zinc-50: oklch(0.141 0.005 285.823);
  --cl-zinc-100: oklch(0.21 0.006 285.885);
  --cl-zinc-200: oklch(0.274 0.006 286.033);
  --cl-zinc-300: oklch(0.37 0.013 285.805);
  --cl-zinc-400: oklch(0.442 0.017 285.786);
  --cl-zinc-500: oklch(0.552 0.016 285.938);
  --cl-zinc-600: oklch(0.705 0.015 286.067);
  --cl-zinc-700: oklch(0.871 0.006 286.286);
  --cl-zinc-800: oklch(0.92 0.004 286.32);
  --cl-zinc-900: oklch(0.967 0.001 286.375);
  --cl-zinc-950: oklch(0.985 0 0);
  --cl-neutral-50: oklch(0.145 0 0);
  --cl-neutral-100: oklch(0.205 0 0);
  --cl-neutral-200: oklch(0.269 0 0);
  --cl-neutral-300: oklch(0.371 0 0);
  --cl-neutral-400: oklch(0.439 0 0);
  --cl-neutral-500: oklch(0.556 0 0);
  --cl-neutral-600: oklch(0.708 0 0);
  --cl-neutral-700: oklch(0.87 0 0);
  --cl-neutral-800: oklch(0.922 0 0);
  --cl-neutral-900: oklch(0.97 0 0);
  --cl-neutral-950: oklch(0.985 0 0);
  --cl-stone-50: oklch(0.147 0.004 49.25);
  --cl-stone-100: oklch(0.216 0.006 56.043);
  --cl-stone-200: oklch(0.268 0.007 34.298);
  --cl-stone-300: oklch(0.374 0.01 67.558);
  --cl-stone-400: oklch(0.444 0.011 73.639);
  --cl-stone-500: oklch(0.553 0.013 58.071);
  --cl-stone-600: oklch(0.709 0.01 56.259);
  --cl-stone-700: oklch(0.869 0.005 56.366);
  --cl-stone-800: oklch(0.923 0.003 48.717);
  --cl-stone-900: oklch(0.97 0.001 106.424);
  --cl-stone-950: oklch(0.985 0.001 106.423);
}

@theme inline {
  --color-slate-50: var(--cl-slate-50);
  --color-slate-100: var(--cl-slate-100);
  --color-slate-200: var(--cl-slate-200);
  --color-slate-300: var(--cl-slate-300);
  --color-slate-400: var(--cl-slate-400);
  --color-slate-500: var(--cl-slate-500);
  --color-slate-600: var(--cl-slate-600);
  --color-slate-700: var(--cl-slate-700);
  --color-slate-800: var(--cl-slate-800);
  --color-slate-900: var(--cl-slate-900);
  --color-slate-950: var(--cl-slate-950);

  --color-blue-50: var(--cl-blue-50);
  --color-blue-100: var(--cl-blue-100);
  --color-blue-200: var(--cl-blue-200);
  --color-blue-300: var(--cl-blue-300);
  --color-blue-400: var(--cl-blue-400);
  --color-blue-500: var(--cl-blue-500);
  --color-blue-600: var(--cl-blue-600);
  --color-blue-700: var(--cl-blue-700);
  --color-blue-800: var(--cl-blue-800);
  --color-blue-900: var(--cl-blue-900);
  --color-blue-950: var(--cl-blue-950);
  
  --color-red-50: var(--cl-red-50);
  --color-red-100: var(--cl-red-100);
  --color-red-200: var(--cl-red-200);
  --color-red-300: var(--cl-red-300);
  --color-red-400: var(--cl-red-400);
  --color-red-500: var(--cl-red-500);
  --color-red-600: var(--cl-red-600);
  --color-red-700: var(--cl-red-700);
  --color-red-800: var(--cl-red-800);
  --color-red-900: var(--cl-red-900);
  --color-red-950: var(--cl-red-950);
  --color-orange-50: var(--cl-orange-50);
  --color-orange-100: var(--cl-orange-100);
  --color-orange-200: var(--cl-orange-200);
  --color-orange-300: var(--cl-orange-300);
  --color-orange-400: var(--cl-orange-400);
  --color-orange-500: var(--cl-orange-500);
  --color-orange-600: var(--cl-orange-600);
  --color-orange-700: var(--cl-orange-700);
  --color-orange-800: var(--cl-orange-800);
  --color-orange-900: var(--cl-orange-900);
  --color-orange-950: var(--cl-orange-950);
  --color-amber-50: var(--cl-amber-50);
  --color-amber-100: var(--cl-amber-100);
  --color-amber-200: var(--cl-amber-200);
  --color-amber-300: var(--cl-amber-300);
  --color-amber-400: var(--cl-amber-400);
  --color-amber-500: var(--cl-amber-500);
  --color-amber-600: var(--cl-amber-600);
  --color-amber-700: var(--cl-amber-700);
  --color-amber-800: var(--cl-amber-800);
  --color-amber-900: var(--cl-amber-900);
  --color-amber-950: var(--cl-amber-950);
  --color-yellow-50: var(--cl-yellow-50);
  --color-yellow-100: var(--cl-yellow-100);
  --color-yellow-200: var(--cl-yellow-200);
  --color-yellow-300: var(--cl-yellow-300);
  --color-yellow-400: var(--cl-yellow-400);
  --color-yellow-500: var(--cl-yellow-500);
  --color-yellow-600: var(--cl-yellow-600);
  --color-yellow-700: var(--cl-yellow-700);
  --color-yellow-800: var(--cl-yellow-800);
  --color-yellow-900: var(--cl-yellow-900);
  --color-yellow-950: var(--cl-yellow-950);
  --color-lime-50: var(--cl-lime-50);
  --color-lime-100: var(--cl-lime-100);
  --color-lime-200: var(--cl-lime-200);
  --color-lime-300: var(--cl-lime-300);
  --color-lime-400: var(--cl-lime-400);
  --color-lime-500: var(--cl-lime-500);
  --color-lime-600: var(--cl-lime-600);
  --color-lime-700: var(--cl-lime-700);
  --color-lime-800: var(--cl-lime-800);
  --color-lime-900: var(--cl-lime-900);
  --color-lime-950: var(--cl-lime-950);
  --color-green-50: var(--cl-green-50);
  --color-green-100: var(--cl-green-100);
  --color-green-200: var(--cl-green-200);
  --color-green-300: var(--cl-green-300);
  --color-green-400: var(--cl-green-400);
  --color-green-500: var(--cl-green-500);
  --color-green-600: var(--cl-green-600);
  --color-green-700: var(--cl-green-700);
  --color-green-800: var(--cl-green-800);
  --color-green-900: var(--cl-green-900);
  --color-green-950: var(--cl-green-950);
  --color-emerald-50: var(--cl-emerald-50);
  --color-emerald-100: var(--cl-emerald-100);
  --color-emerald-200: var(--cl-emerald-200);
  --color-emerald-300: var(--cl-emerald-300);
  --color-emerald-400: var(--cl-emerald-400);
  --color-emerald-500: var(--cl-emerald-500);
  --color-emerald-600: var(--cl-emerald-600);
  --color-emerald-700: var(--cl-emerald-700);
  --color-emerald-800: var(--cl-emerald-800);
  --color-emerald-900: var(--cl-emerald-900);
  --color-emerald-950: var(--cl-emerald-950);
  --color-teal-50: var(--cl-teal-50);
  --color-teal-100: var(--cl-teal-100);
  --color-teal-200: var(--cl-teal-200);
  --color-teal-300: var(--cl-teal-300);
  --color-teal-400: var(--cl-teal-400);
  --color-teal-500: var(--cl-teal-500);
  --color-teal-600: var(--cl-teal-600);
  --color-teal-700: var(--cl-teal-700);
  --color-teal-800: var(--cl-teal-800);
  --color-teal-900: var(--cl-teal-900);
  --color-teal-950: var(--cl-teal-950);
  --color-cyan-50: var(--cl-cyan-50);
  --color-cyan-100: var(--cl-cyan-100);
  --color-cyan-200: var(--cl-cyan-200);
  --color-cyan-300: var(--cl-cyan-300);
  --color-cyan-400: var(--cl-cyan-400);
  --color-cyan-500: var(--cl-cyan-500);
  --color-cyan-600: var(--cl-cyan-600);
  --color-cyan-700: var(--cl-cyan-700);
  --color-cyan-800: var(--cl-cyan-800);
  --color-cyan-900: var(--cl-cyan-900);
  --color-cyan-950: var(--cl-cyan-950);
  --color-sky-50: var(--cl-sky-50);
  --color-sky-100: var(--cl-sky-100);
  --color-sky-200: var(--cl-sky-200);
  --color-sky-300: var(--cl-sky-300);
  --color-sky-400: var(--cl-sky-400);
  --color-sky-500: var(--cl-sky-500);
  --color-sky-600: var(--cl-sky-600);
  --color-sky-700: var(--cl-sky-700);
  --color-sky-800: var(--cl-sky-800);
  --color-sky-900: var(--cl-sky-900);
  --color-sky-950: var(--cl-sky-950);
  --color-indigo-50: var(--cl-indigo-50);
  --color-indigo-100: var(--cl-indigo-100);
  --color-indigo-200: var(--cl-indigo-200);
  --color-indigo-300: var(--cl-indigo-300);
  --color-indigo-400: var(--cl-indigo-400);
  --color-indigo-500: var(--cl-indigo-500);
  --color-indigo-600: var(--cl-indigo-600);
  --color-indigo-700: var(--cl-indigo-700);
  --color-indigo-800: var(--cl-indigo-800);
  --color-indigo-900: var(--cl-indigo-900);
  --color-indigo-950: var(--cl-indigo-950);
  --color-violet-50: var(--cl-violet-50);
  --color-violet-100: var(--cl-violet-100);
  --color-violet-200: var(--cl-violet-200);
  --color-violet-300: var(--cl-violet-300);
  --color-violet-400: var(--cl-violet-400);
  --color-violet-500: var(--cl-violet-500);
  --color-violet-600: var(--cl-violet-600);
  --color-violet-700: var(--cl-violet-700);
  --color-violet-800: var(--cl-violet-800);
  --color-violet-900: var(--cl-violet-900);
  --color-violet-950: var(--cl-violet-950);
  --color-purple-50: var(--cl-purple-50);
  --color-purple-100: var(--cl-purple-100);
  --color-purple-200: var(--cl-purple-200);
  --color-purple-300: var(--cl-purple-300);
  --color-purple-400: var(--cl-purple-400);
  --color-purple-500: var(--cl-purple-500);
  --color-purple-600: var(--cl-purple-600);
  --color-purple-700: var(--cl-purple-700);
  --color-purple-800: var(--cl-purple-800);
  --color-purple-900: var(--cl-purple-900);
  --color-purple-950: var(--cl-purple-950);
  --color-fuchsia-50: var(--cl-fuchsia-50);
  --color-fuchsia-100: var(--cl-fuchsia-100);
  --color-fuchsia-200: var(--cl-fuchsia-200);
  --color-fuchsia-300: var(--cl-fuchsia-300);
  --color-fuchsia-400: var(--cl-fuchsia-400);
  --color-fuchsia-500: var(--cl-fuchsia-500);
  --color-fuchsia-600: var(--cl-fuchsia-600);
  --color-fuchsia-700: var(--cl-fuchsia-700);
  --color-fuchsia-800: var(--cl-fuchsia-800);
  --color-fuchsia-900: var(--cl-fuchsia-900);
  --color-fuchsia-950: var(--cl-fuchsia-950);
  --color-pink-50: var(--cl-pink-50);
  --color-pink-100: var(--cl-pink-100);
  --color-pink-200: var(--cl-pink-200);
  --color-pink-300: var(--cl-pink-300);
  --color-pink-400: var(--cl-pink-400);
  --color-pink-500: var(--cl-pink-500);
  --color-pink-600: var(--cl-pink-600);
  --color-pink-700: var(--cl-pink-700);
  --color-pink-800: var(--cl-pink-800);
  --color-pink-900: var(--cl-pink-900);
  --color-pink-950: var(--cl-pink-950);
  --color-rose-50: var(--cl-rose-50);
  --color-rose-100: var(--cl-rose-100);
  --color-rose-200: var(--cl-rose-200);
  --color-rose-300: var(--cl-rose-300);
  --color-rose-400: var(--cl-rose-400);
  --color-rose-500: var(--cl-rose-500);
  --color-rose-600: var(--cl-rose-600);
  --color-rose-700: var(--cl-rose-700);
  --color-rose-800: var(--cl-rose-800);
  --color-rose-900: var(--cl-rose-900);
  --color-rose-950: var(--cl-rose-950);
  --color-gray-50: var(--cl-gray-50);
  --color-gray-100: var(--cl-gray-100);
  --color-gray-200: var(--cl-gray-200);
  --color-gray-300: var(--cl-gray-300);
  --color-gray-400: var(--cl-gray-400);
  --color-gray-500: var(--cl-gray-500);
  --color-gray-600: var(--cl-gray-600);
  --color-gray-700: var(--cl-gray-700);
  --color-gray-800: var(--cl-gray-800);
  --color-gray-900: var(--cl-gray-900);
  --color-gray-950: var(--cl-gray-950);
  --color-zinc-50: var(--cl-zinc-50);
  --color-zinc-100: var(--cl-zinc-100);
  --color-zinc-200: var(--cl-zinc-200);
  --color-zinc-300: var(--cl-zinc-300);
  --color-zinc-400: var(--cl-zinc-400);
  --color-zinc-500: var(--cl-zinc-500);
  --color-zinc-600: var(--cl-zinc-600);
  --color-zinc-700: var(--cl-zinc-700);
  --color-zinc-800: var(--cl-zinc-800);
  --color-zinc-900: var(--cl-zinc-900);
  --color-zinc-950: var(--cl-zinc-950);
  --color-neutral-50: var(--cl-neutral-50);
  --color-neutral-100: var(--cl-neutral-100);
  --color-neutral-200: var(--cl-neutral-200);
  --color-neutral-300: var(--cl-neutral-300);
  --color-neutral-400: var(--cl-neutral-400);
  --color-neutral-500: var(--cl-neutral-500);
  --color-neutral-600: var(--cl-neutral-600);
  --color-neutral-700: var(--cl-neutral-700);
  --color-neutral-800: var(--cl-neutral-800);
  --color-neutral-900: var(--cl-neutral-900);
  --color-neutral-950: var(--cl-neutral-950);
  --color-stone-50: var(--cl-stone-50);
  --color-stone-100: var(--cl-stone-100);
  --color-stone-200: var(--cl-stone-200);
  --color-stone-300: var(--cl-stone-300);
  --color-stone-400: var(--cl-stone-400);
  --color-stone-500: var(--cl-stone-500);
  --color-stone-600: var(--cl-stone-600);
  --color-stone-700: var(--cl-stone-700);
  --color-stone-800: var(--cl-stone-800);
  --color-stone-900: var(--cl-stone-900);
  --color-stone-950: var(--cl-stone-950);
}
